* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: #D49F91
}
.main-screen {
  width: 90vw;
  height: 90vh;
  background: #D49F91; /* CHANGE BACK TO OG COLOR*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 5%;
}
.overlay{
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 50px;
  padding: 10px;
  top:0;
  left: 0;
  width: 30%;
  bottom:0;
  background-color: #660033;
  opacity: 0.85;
  color: white;
  z-index: 9999;
}
.Quote {
  width: 100%;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  font-size: clamp(24px, 4vw, 48px);
  font-family: Inter; /* CHANGE TO NEW FONT */
  font-weight: 800;
  color: #7b17b5;
}
.options {
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-left: 10%;
  padding-bottom: 50px;
}
.line {
  width: 77px;
  border: 3px #7b17b5 solid;
}
.content-Quote{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: top;
  width: 100%;
  height: fit-content;
}
.content-Employment-Based {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.Rectangle4, .Rectangle5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #7b17b5;
  box-shadow: 0px 0px 50px 10px #D49F91 inset;
  border-radius: 40px;
  border: 1px #7b17b5 solid;
  overflow: hidden;
  padding: 20px;
  height: 100%;
  width: 100%;
  max-width: 350px;
}
.Rectangle4, .Rectangle5 {
  max-height: 100%;
  min-height: 150px; 

}
.content {
  display: flex;
  font-size: clamp(16px, 2vw, 24px); 
  font-family: Inter; /* CHANGE TO NEW FONT */
  font-weight: 800;
  color: #D49F91;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.contentTitle{
  font-size: clamp(16px, 2vw, 24px);
  font-family: Inter; /* CHANGE TO NEW FONT */
  font-weight: 800;
  color: #D49F91;
}
.container-Close{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.container-overlayOptions{
    display: flex;
    text-decoration: none;
}
.overlayOptions{
  font-size: clamp(16px, 2vw, 24px);
  font-family: Inter; /* CHANGE TO NEW FONT */ 
  font-weight: 800;
  color: #D49F91;  /* CHANGE BACK TO OG COLOR*/
  text-decoration: none;
  text-align: right;
}
